body {
    background-color: black;
}

.container {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0;
}

header {
    min-height: 10vh;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(85, 20, 20);
}

main {
    min-height: 87vh;
}

footer {
    height: 3vh;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(194, 92, 45);
}

.aFoot {
    color: rgb(255, 255, 255);
    margin: 4px;
    text-decoration: none;
}

.aFoot:hover {
    font-weight: bold;
}

.nBtn {
    background-color: rgb(85, 20, 20);
    color: white;
    font-size: 22px;
    border: none;
    border-radius: .1rem;
    margin: 3px;
    margin-top: 0;
}

.nBtnActive {
    background-color: white;
    color: rgb(85, 20, 20);
    font-weight: bold;
}

.nBtn:hover {
    font-weight: bold;
}

.kCard {
    border-top: 1px solid rgb(85, 20, 20);
    border-bottom: 1px solid rgb(85, 20, 20);
    margin: 1px;
    padding: 4px;
}

.aKitchen {
    text-decoration: none;
    color: rgb(194, 92, 45);
}

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}