body {
    background-color: black;
}

.container {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0;
}

header {
    height: 11vh;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(85, 20, 20);
}

main {
    height: 85vh;
}

footer {
    height: 4vh;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(194, 92, 45);
}

.aFoot {
    color: white;
    margin: 7px;
}